<div class="flex items-center max-w-5xl mx-auto">
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2 border bg-gray-200 p-4">
        </div>
        <div class="container">
            <div class="flex justify-center mb-6 border bg-gray-200 p-4">
                {{ settings:social }}
                <a href="{{ url }}" class="mr-4" aria-label="{{ name }}" rel="noopener">
                    {{ svg :src="icon" class="h-6 w-8 hover:text-teal" }}
                </a>
                {{ /settings:social }}
            </div>
            {{ collection:articles limit="5" as="articles" }}
            <div class="border bg-gray-200 p-4">
                <h2 class="text-2xl font-bold mb-4">Recent Posts</h2>
                <ul>
                {{ articles }}
                    <li class="mb-4">
                        <a href="{{ url }}" class="text-lg hover:text-teal tracking-tight leading-tight font-bold">
                            {{ title | widont }}
                        </a><br />
                        <span class="text-gray-800 text-sm uppercase tracking-widest font-medium">{{ date }}</span>
                    </li>
                {{ /articles }}
                </ul>
                {{ /collection:articles }}
                <div class="text-right"><a href="{{ link to="archive" }}" class="font-bold">All Posts »</a></div>
            </div>
        </div>
    </div>
</div>
