<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} - {{ settings:site_name }}</title>
        <meta name="description" content="{{ excerpt ?? title }}">
        <meta name="theme-color" content="00908F">
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        {{ foreach:config:feed.feeds as="feed" }}
        <link rel="alternate" type="{{ feed.type ?? 'application/atom+xml' }}" href="{{ feed.url }}" title="{{ feed.title }}">
        {{ /foreach:config:feed.feeds }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </head>
    <body class="bg-white font-sans leading-normal text-grey-800 px-4 sm:px-10" x-data="{ showMobileNav: false }">
        {{ partial:nav }}
        {{ template_content }}
        {{ partial:footer }}
        <noscript>
            <img referrerpolicy="no-referrer-when-downgrade" src="https://matomo.matthewturland.com/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" />
        </noscript>
    </body>
</html>
