{
  "plugins": [
    ["prismjs", {
      "languages": [
        "bash",
        "css",
        "docker",
        "ini",
        "javascript",
        "json",
        "makefile",
        "markup",
        "php",
        "ruby",
        "sql",
        "yaml"
      ],
      "plugins": [],
      "theme": "okaidia",
      "css": true
    }]
  ]
}
